<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% extends 'main.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'contactStyles.css' %}">

{% for message in messages %}
<h5 class="{{ message.tags }}">
    {{ message }}
</h5>
{% endfor %}



<form id='uniqueFormId' action="" method="POST" class="form">
    {% csrf_token %}
    <h2>CONTACT US</h2>
    <div class="forminput"> <h5>Name:</h5><input type="text" placeholder="Write your name here.." name="name" required></input>
    </div>
    <div class="forminput"><h5>Subject:</h5><input type="text" placeholder="Let us know which subject you find trouble.." name="subject" required></input>
    </div>
    <div class="forminput"><h5>Message:</h5><input type="text" placeholder="What would you like to tell us.." name="message" required></input>
    </div>
           {{ form.captcha }}
           <button>Send Message</button>
    <button type="button" class='js-captcha-refresh'>Refresh Captcha</button>  

    
</form>
<script>
    $('.js-captcha-refresh').click(function(){
    var $form = $(this).parents('form');
    var url = "/ajax/refresh-captcha/";

    $.getJSON(url, {}, function(json) {
        $form.find('input[name="captcha_0"]').val(json.new_cptch_key);
        $form.find('img.captcha').attr('src', json.new_cptch_image);
    });

    return false;
});

</script>


  {% endblock %}