{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  
  <body class="d-flex flex-column h-100">
    

<footer class="footer mt-auto py-3 bg-dark sticky">
  <div class="container">
    <span class="text-white">Copyright ©   2022 Entrance Preparation.All rights are owned by this site. </span>
    <a class="text-white second-one" href="{% url 'terms' %}" >Terms and Condition. </a>
   <a class="text-white" href="{% url 'privacy' %}" >Privacy Policy </a>
  </div> 
  
</footer>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<style>
  .container{
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
.container > .second-one{
  margin-left: 300px;
}
</style>
      
  </body>
</html>
