{% extends 'main.html' %} {% load static %} {% block content %}
<span style="color:rgb(2, 71, 71);font-weight:bold;font-size:1.4rem; text-align:center">Results are for {{ request.user.username }}!!   </span>
<div id="wrapper">
    <div class="chart-container" style="position:relative; height:35vh; width:70vw">
        <canvas id="myChart"></canvas>
    </div>
    <div class="chart-container" style="position:relative; height:35vh; width:70vw">
        <canvas id="myChart2"></canvas>
    </div>
    <div class="chart-container" style="position:relative; height:35vh; width:70vw">
        <canvas id="myChart3"></canvas>
    </div>
</div>



{% block script %}

<script src="{% static 'chart.js' %}">
</script>
{% endblock %} {% endblock %}