{% extends 'main.html' %} {% load static %} {% block content %}
<style>
  body{
    background-color: white;
  }
</style>
<br>
<span style="color:rgb(2, 71, 71);font-weight:bold;font-size:1.4rem; margin-left:120px;">These are the individual subject progress graphs of {{ request.user.username }} in IOE section. </span>

<br>
<br>
<span style="color:rgb(2, 71, 71);font-weight:bold;font-size:1.4rem; margin-left:120px;"> X axis is the number of attempts and y axis is the score out of 100.  </span>

<div class="chart-container" style="  
position: relative;
width:80vh;
height: auto ;
margin-bottom: 30px; ">
    <canvas id="myChart9"></canvas>
    <canvas id="myChart10"></canvas>
  <canvas id="myChart11"></canvas>   
  <canvas id="myChart12"></canvas>

</div>




{% block script %}

<script src="{% static 'chartGk.js' %}">
</script>
{% endblock %} {% endblock %}