{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .QA {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0rem 3rem;
    }

    .topContent {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .result-item {
        list-style-type: none;
        padding: 0;
    }

    .bg-danger {
        background-color: red; /* Red for incorrect answers */
    }

    .bg-success {
        background-color: green; /* Green for correct answers */
    }
</style>
<div class="topContent" style="font-size:40px;margin-left:2rem;padding-bottom:2rem">
    {% if result.passed %}
        Braviii!
    {% else %}
        Oops!
    {% endif %}
    Your result is {{ result.score|floatformat:2 }} %
    <h2>
        See the progress chart of {{ quizname }} here:
        <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'progress_chart' result.progresschartid %}'">Results</button>
    </h2>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'quizview' result.quiz.id %}'">Retake test</button>
</div>
<div class="QA">
<h2>Questions and Answers:</h2>

<ul class="result-list">
    {% for item in result.resultsField %}
    {% for question, answer_info in item.items %}
        <li class="result-item">
            <strong>{{ question }}</strong><br>
            Your Answer: {{ answer_info.answered }}<br>
            Correct Answer: {{ answer_info.correct_answer }}
            {% if answer_info.answered != '' and answer_info.answered == answer_info.correct_answer %}
                <span class="bg-success">Correct</span>
            {% else %}
                <span class="bg-danger">Incorrect</span>
            {% endif %}
        </li>
    {% endfor %}
{% endfor %}


   
</ul>

</div>
{% endblock content %}
