{% extends 'main.html' %} {% load static %}
 {% block content %}

<style>
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    h2{
        margin:2rem 0rem;
    }
.result-list {
    list-style-type: none;
    padding: 0;
    width: 80%;
}


.result-item {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
}

.btn-primary {
    margin-top: 20px;
}
.result-link {
    /* Add your CSS styling here */
    color: blue; /* Example: Blue color for links */
    text-decoration: underline; /* Example: Underline for links */
    /* Add more styles as needed */
}

</style>
<div class="container">
    <h2>Attempted Questions:</h2>

    <ul class="result-list">
        {% for result_item in result %}
            <li class="result-item">
                <a href="{% url 'viewResultByID' result_item.id %}" class="result-link">
                    <strong>{{ result_item.quiz.getNameInResult }}</strong><br>
                </a>
                Your Score: {{ result_item.score }}%<br>
                Date Attempted: {{ result_item.date_attempted|date:"  H:i A, F d, Y"|default:"Unknown" }}
            </li>
        {% endfor %}
    </ul>

</div>


{% endblock content %}